<div class="banner" id="banner">
</div>
<div class="content">
	<div class="container">
		<div class="wrap clearfix">
			<div class="summary">
				<p class="fontSz20 grayDark">
					Happy Wallet is your personal wallet provided by HappyEasyGo. Every point earned by participating <br> promotional campaigns will be credited to your Happy Wallet account and facilitate on your subsequent<br> flight bookings.
				</p>
				<div class="termsTrans textC">
					<h3 class="fontSz20 ">Happy Wallet is comprised of Happy Gold and Happy Silver</h3>
					<div class="trans">
						1 <span class="goldColor">HappyGold</span> / 
						<span class="silverColor">Happy Silver</span> = INR 1
					</div>
				</div>
				<div class="">
					<p class="text-center fontSz16 fontB" style="margin: 0 auto; width:800px;background-color: #faf6ba;">Open from 2nd Feb: <span class="colorDan">Transfer-to-bank</span> option will be available to Cashback amount from your Wallet.</p>
				</div>
			</div>
			<div id="walletAmount">
				
			</div>
			<div class="termsAndStep clearfix">
				<div class="berif clearfix">
					<div class="pull-left side left">
						<h3 class="title">
							Happy Silver
						</h3>
						<div class="text">
							<p class="">
								Happy Silver can be used to deduct the difference of Member Price on flight booking. It can be earned through promotional activities: cashback, voucher code redemption, etc.
							</p>
							<p>
								* Now you will get Rs. 2000 instantly when you sign-up on PC or Mobile Site.
							</p>
							<p>
								* It will be valid immediately after you get it and will last for three calendar months
							</p>
						</div>
					</div>
					<div class="pull-right side right">
						<h3 class="title">
							Happy Gold
						</h3>
						<div class="text">
							<p class="">
								Happy Gold can be earned by Cancellation &amp; Refund, Promotional activities and Cashback. 
							</p>
							<p>
								* It has no usage limits or expiry date.
							</p>
							<p class="marT10" style="background-color: #faf6ba;">Open from 2nd Feb: <span class="colorDan">Transfer-to-bank</span> option will be available to Cashback amount from your Wallet.</p>
						</div>
					</div>
				</div>
				<div class="caption colorWar">
					<p>There are several ways to earn more Happy Wallet Cash.</p>
					<p>Let's take a look and get started one by one.</p>
				</div>
				<ul class="steps">
					<li class="step clearfix">
						<div class="pull-left">
							<div class="ic ic1 pull-left"></div>
							<div class="pull-left padL20">
								<p class="h4 fontSz20">Get Happy Wallet by Signing up</p>
								<p class="grayDark fontSz16 marB20">Earn Happy silver <span class="colorWar">Rs.</span><span class="colorPri">4000</span> just for new user</p>
								<a href="/static/tpl/register.html" data-toggle="modal" data-target="#register_modal" class="btn btn-warning">Sign Up</a>
							</div>
						</div>
						<div class="pull-right padB10 bgR">
							<img src="<%=require('./images/bg-ic_02.jpg')%>" alt="">
						</div>
					</li>
					<li class="step clearfix">
						<div class="pull-left bgL">
							<img src="<%=require('./images/bg-ic_02.png')%>" alt="">
						</div>
						<div class="pull-right">
							<div class="ic ic2 pull-right"></div>
							<div class="pull-right padR20 textR">
								<p class="h4 fontSz20">Hope to get more Happy Wallet ?</p>
								<p class="grayDark fontSz16 marB8">Invite your friends to earn Happy Wallet together with you.</p>
								<div class="proDetail marB8 clearfix">
									<div class="pull-right">
										<h4 class="textR fontSz18 marB8">Happy Silver</h4>
										<div class="silverD">
											<div class="pull-right">
												<span class="cash fontSz18"><span class="colorWar">Rs.</span> <span class="colorPri">500</span></span>
											</div>
											<div class="pull-right padR10 fontSz14">
												<p>Friend first signs up you <br>
														earn <span class="colorPri">Rs. 500</span> Happy Silver 
												</p>
											</div>
										</div>
									</div>
									<div class="pull-right padR20">
										<h4 class="textR fontSz18 marB8">Happy Gold</h4>
										<div class="silverD">
											<div class="pull-right">
												<span class="cash fontSz18"><span class="colorWar">Rs.</span> <span class="colorPri">50</span></span>
											</div>
											<div class="pull-right padR10 fontSz14">
												<p>When your friend books with us<br>
														you earn <span class="colorPri">Rs. 50</span> Happy Gold 
												</p>
											</div>
										</div>
									</div>
								</div>
								<a href="/referral/" class="btn btn-warning">Know More</a>
							</div>
						</div>
					</li>
					<li class="step clearfix">
						<div class="pull-left">
							<div class="ic ic3 pull-left"></div>
							<div class="pull-left padL20">
								<p class="h4 fontSz20">If you are a Business Flyer, it’s easy for you to earn more Happy Wallet </p>
								<p class="grayDark fontSz16 marB20">Book your Business Flight &amp; Earn your own Happy Gold </p>
								<a href="/cashback/" class="btn btn-warning">Know More</a>
							</div>
						</div>
						<div class="pull-right bgR">
							<img src="<%=require('./images/bg-ic_03.png')%>" alt="">
						</div>
					</li>
					<li class="step clearfix">
						<div class="pull-left bgL">
							<img src="<%=require('./images/bg-ic_05.png')%>" alt="">
						</div>
						<div class="pull-right">
							<div class="ic ic4 pull-right"></div>
							<div class="pull-right padR20 textR">
								<p class="h4 fontSz20">Continually focus on our Social Media or Email Info</p>
								<p class="grayDark fontSz16">We will send some coupons on special day, <br>you can exchange Happy Wallet by using these coupons.
								</p>
								<div class="share">
									<a href="https://www.facebook.com/happyeasygo/"><img src="<%=require('./images/Happy-wallet_42.png')%>" alt=""></a>
									<a href="https://twitter.com/happyeasygo"><img src="<%=require('./images/Happy-wallet_35.png')%>" alt=""></a>
									<a href="https://www.instagram.com/happyeasygo_india/"><img src="<%=require('./images/Happy-wallet_37.png')%>" alt=""></a>
									<a href="https://www.pinterest.com/happyeasygo/"><img src="<%=require('./images/Happy-wallet_39.png')%>" alt=""></a>
									<a href="https://plus.google.com/u/0/114953727911106828987"><img src="<%=require('./images/Happy-wallet_45.png')%>" alt=""></a>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="termsLink marB20">
					<a href="/wallet-terms" style="display: inline-block;" class="colorWar">Click here for Terms &amp; Conditions</a>
				</div>
			</div>
			
		</div>
	</div>
</div>

<!-- <div class="promotion-wrap" id="prom-wrap">
  <div class="promotion-con">
    <div class="conWrap">
      <div class="register-wrap clearfix">
        <div class="closed pull-right"></div>
        <div class="pull-left" style="width:97%">
						<a href="/top-up/" style="display:block" target="_blank">
							<div id="footBanner" class="text-center">
								<img src="<%=require('./images/footerBan.png')%>" height="160" alt="">
							</div>
						</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<script id="walletAmountTpl" type="text/template">
	<div class="amount">
		<div class="row">
			<div class="col-sm-7">
				<div class="borB borR">
					<div class="row pad">
						<div class="col-sm-7">
							<p class="textC fontSz24">Happy Silver</p>
						</div>
						<div class="col-sm-5">
							<p class="colorDan num">
								<i class="fa fa-inr"></i>
								{{=silver.toThree()}}
							</p>
						</div>
					</div>
				</div>
				<div class="borR">
					<div class="row pad">
						<div class="col-sm-7">
							<p class="textC fontSz24">Happy Gold</p>
						</div>
						<div class="col-sm-5">
							<p class="colorDan num">
								<i class="fa fa-inr"></i>
								{{=gold.toThree()}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="textC total">
					<p class="colorDan num">
						<i class="fa fa-inr"></i>
						{{=total.toThree()}}
					</p>
					<p class="fontSz24">
						Total Amount
					</p>
				</div>
			</div>
		</div>
	</div>
</script>