<div class="content">
	<div class='head'>
		<div class="hotelSearchBar">
			<%=require('../../_component/flightSearch/search.ejs')()%>
		</div>
		<div class="banner" id="banner">	
		</div>
	</div>
	
	<div class="wrap">
		<div class="container">
			<div class='cont' >
				<div class='loadBox clearfix'>
					<div class='img font-Roman pull-left'>
						<p>Grab Your Additional Cashabck</p>
						<p>Grab cashback program can save more on your bookings, and get deals  on your&your friends next travels</p>
					</div>
					<div class='text pull-right'>
						<div class='load clearfix'>
							<div class='pull-left'>
								
								<div><img src="<%= require('./images/appstore.png') %>" alt=""></div>
								<div><img src="<%= require('./images/googleplay.png') %>" alt=""></div>
								<p>Check Your Ongoing Rewards</p>
							</div>
							<div class='pull-right'><img src="<%= require('./images/PC_Autumn_Deeplink.png') %>" alt=""></div>
						</div>
					</div>
				</div>
				<div class='grabCash'>
					<div class='title font-Roman'>
					
						<span>How Do I Grab CashBack?</span>
						<a href="/wallet-terms">Check Wallet</a>
				
					</div>
					<div class="grabCash_item">
						<ul>
							<li>
								<p>1. Book now &  Share Cashback Program With  Your Friends</p>
								<img src="<%= require('./images/1-pc.png') %>" alt="">
							</li>
							<li>
								<p>2. Your friends can grab cashback & other rewards in your program</p>
								<img src="<%= require('./images/2-pc.png') %>" alt="">
							</li>
							<li>
								<p>3. Get same cashback amount instantly once your friend grabbed a cashback</p>
								<img src="<%= require('./images/3-pc.png') %>" alt="">
							</li>
						</ul>
					</div>
					
				</div>
				<p class="download">Download the latest version of HappyEasyGo Android or iOS app and invite your friends and family to help you earn additional cashback on every booking you make. </p>
			</div>
		</div>	
		<div class="TC_Box">
			<div class='TC'>
				<p class='title_1 font-Roman'>Terms & Conditions:</p>
				<p class='title_2'>1.Qualification Criteria: </p>
				<p class='text'>There is a random probability of a user being selected for the opportunity to win cashback,after payment for booking has been successfully made.</p>
				<p class='title_2'>2.Validity Period:</p>
				<p class='text'>A user can invite friends to help earn cashback for upto 24 hours. The invitations are closed at the end of this time window or when the maximum number of invitations is reached. The invitations are also closed in case the user cancels the order or when the flight ticket cannot be issued.</p>
				<p class='title_2'>3.Cashback Amount:</p>
				<p class='text'>The  amount of cashback and the number of people that can be invited varies with the marketing policy .</p>
				<p class='text'>You get same cashback amount equal the cashback each friend grabbed. It means you can win the half of maximum cashback,and your friends share another half of maximum cashback.</p>
				<p class='text'> The cashback offer is independent of other offers, deals and rewards being offered on the HappyEasyGo website or mobile app. </p>
				<p class='title_2'>4.You&Your Friends Rewards Credit:</p>
				<p class='text'>You get a cashback amount  instantly when a friend grabs a part of cashback. </p>
				<p class='text'>You friends are gligible to claim the cashback & Coupon when they regsiter in your program.Only after they open Grab-Cashback Offer on the APP,The rewards will be credited to their account.(Except:The Happy Silver  will be credited without this step )</p>
				<p class='text'>The cashback amount will reflect in the account only after the order has been issued.  </p>
				<p class='title_2'>5.Invitations:</p>
				<p class='text'>A user can only invite people who are not registered on HappyEasyGo. An invitation is counted successful only after the phone number of the invitee has been verified.When you invite your friends, they can view information about the itinerary and amount of the order;</p>
				<p class='text'>Note: Friends invited via this offer are not considered valid referrals under the Refer & Earn programme.  </p>
				<p class='title_2'>6.How to Use the Cashback(HappyGold):</p>
				<p class='text'>You can pay your bookings by Happy Gold( (1 Gold = 1 Rupee). Happy Gold received via this offer cannot be transferred to bank A/C.</p>
				<p class='text'>Kindly note that Happy Gold received through this offer cannot be transferred to the bank account. </p>
				<p class='title_2'>7.Order Cancellation:</p>
				<p class='text'>In case the order cannot be issued, the cashback will be cancelled. However, It does not affect the normal refund process. </p>
				<p class='title_2'>8.Participating in this programme and inviting your friends to win cash indicates an agreement to all the terms and conditions. </p>
				<p class='title_2'>9.The right of final interpretation of this offer is reserved with HappyEasyGo.</p>
			</div>
		</div>
		
	</div>
</div>





